* {
  box-sizing: border-box;
}
p {
  font-size: 24px;
  color: #eeedee;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  color: #eeedee;
  text-shadow: 0 0 32px rgba(255, 255, 255, 0.12);
  font-size: 40px;
}

h2 {
  color: #eeedee;
}

.nav-btns {
  color: #eeedee;
  font-weight: 600;
  font-size: 16px;
}
.social-icons {
  cursor: pointer;
}
.boxed-span {
  background-color: #eeedee;
  color: #151515;
  padding: 4px 8px;
  border-radius: 8px;
}

.boxed-span-outline {
  border: 1px solid #eeedee;
  color: #eeedee;
  padding: 4px 8px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #0072ed;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
}
